body {
    background-color: #50AE94;
    font-size: 100%;
    
}
p {
    color:#000000;
    font-size: 1.5em;
    text-align: left;
    width:80%;
    margin-left: 4%;
    font-family: "Times New Roman", Times, serif;

}
.homep{
    width: 50%;
}
.pimgdiv{
    position: relative;
    left: 50%;
}
.pimg {
    display:block;
    width: 45%;
}
h1 {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-family: fantasy;
    
}
h3 {
    text-decoration: underline;
    font-family: fantasy;
    margin-left: 2%;
}
hr {
    height: 1px;
    background-color: black;
    border: none;
}

form {
    text-align:center;
    font-size: large;
    padding-top: 5%;
    
    margin-left: auto;
    margin-right: auto;
}
.titleimg {
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

.blogpic {
    width: 50%;
    margin-right: 2%;
    float: right;
    margin: 1%;
    border: #000000;
    border-style: solid;
    border-width: 5px;
}
input, select {
    border: #000000;
    border-style: solid;
}
.navbar {
    position: sticky;
}
